.ring {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(var(--text-color));
    border-radius: 100%;
    transform: translate(-50%, -50%);
    -webkit-transition-duration: 100ms;
    transition-duration: 100ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    will-change: width, height, transform, border;
    z-index: 999;
    pointer-events: none;
    &.hovered {
        transition: 0.3s all ease-in-out;
        width: 80px;
        height: 80px;
        background-color: rgba(var(--tertiary-color), 0.5);
        border: none;
    }
}

.dot {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: rgb(var(--tertiary-color));
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: 999;
    pointer-events: none;
    &.hovered {
        transition: 0.3s all ease-in-out;
        display: none;
    }
}
