:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --primary-color: 53, 52, 58;
  --secondary-color: 73, 74, 80;
  --tertiary-color: 255, 255, 255;
  --text-color: 187 187 187;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: 53, 52, 58;
    --secondary-color: 73, 74, 80;
    --tertiary-color: 255, 255, 255;
    --text-color: 187 187 187;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: rgb(var(--tertiary-color));
  background-color: rgb(var(--primary-color));
	overflow: hidden;
	width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

ul{
  list-style: none
}

main{
  @media screen and (min-width: 768px) {
    display: flex;

    *:first-child {
      width: 20%;
    }
    *:last-child {
      width: 80%;
    }
  }
}

